html{
    scroll-behavior: smooth;
}

body{
   
    font-family: 'Montserrat', sans-serif;

}
h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;
}

.section-title h3{
    font-weight: bolder;
    margin-bottom: 0;
}

.hr-style{
    border: 5px dotted white;
    border-bottom: none;
    width: 50px;
}

/* header start  */
header{
    background-image: url("images/banner-photo.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}

.navbar{
    padding: 1% 10%;
    background-color: rgba(0,0,0,0.3);
}

.navbar-icon{
    color: white;
}
.navbar-brand img{
    width: 60px;
    height: auto;
}
.nav-link{
    color: white;
    margin: 10px;
    border-radius: 5px;
    transition: .4s;
}
.nav-link:hover{
   background: #2980b9;
   color: white;
   transform: scale(1.1);
}

.banner-container{
    height: 100vh;
}

.banner-container h1{
    font-size: 3.5rem;
    background-color: rgba(7, 101,189, 0.8);
    padding: 10px 20px;
     font-family: 'Handlee', cursive;
     border-radius: 5px;
    
}
/* header ends  */

/* features starts */
#features{
    padding: 5% 10%;
    background: #e8ded2;
}

.features-col{
    border: 1px solid #ff02c0;
    border-radius: 5px;
    padding: 15px;
    margin: 20px 0;
    transition: .4s;
}
.features-col:hover{
    transform: scale(1.1);
    box-shadow: 2px 6px 5px black;
}
.icon-style{
    background: #bb0aac;
    color: white;
    padding: 15px;
    margin: 5px 0;
}
/* features end */

/* about-me starts */
#about-me{
    padding: 4% 10%;
    background: #e8ded2;
}

#about-me p{
    font-size: 0.9rem;
    margin-bottom: 0;
    font-weight: light;
}
#about-me a{
    font-size: 0.9rem;
    font-weight: lighter;
    color: black;
    text-decoration: underline;
}

.achieve-desc span{
    font-weight: 700 !important;
}

.star i{
    width: 20px;
   
}
/* about-me ends */


/* tutorial starts  */
#tutorial{
    padding: 4% 10%;
    background: #a3d2ca;
}

.card{
    transition: .4s;
    border: 1px solid #ff02c0;
}

.card:hover{
    transform: scale(1.1);
    box-shadow: 2px 6px 5px black;
}
/* tutorial ends */

/* feedback start  */
#feedback{
    padding: 5%;
    background: #5eaaa8;
}
.carousel-item{
    text-align: center;
    padding: 7% 15%;
    font-style: italic;
    font-size: 1.2rem;
}
.feedback-img{
    width: 120px;
    height: auto;
    margin-bottom: 5px;
}
/* feedback end */

/* contact starts */
#contact{
    padding: 2% 10%;
    background: #5eaaa8;
}
.form-group label{
    margin-bottom: 0;
    font-weight: bold;
}
/* contact ends */

/* footer starts  */
footer{
    padding: 1% 10%;
    background: #056676;
}

footer a {
    color: white;
    margin: 0 10px;
}
footer a:hover{
    color: black;
}
/* footer ends */

@media (max-width:768px){
    .nav-link{
        background: rgb(0,0,0,0.7);
    }

    .banner-container h1{
        font-size: 2.5rem;
      
        
    }
    
}


